body {
	background: #ffffff;
	font-family: Helvetica, Gotham, san-serif;
	font-size: 
}

#wrapper {
	
	width: 1020px;
	margin: 0 auto;
}

header {
	color: #111111;
	padding: 25px;
	margin: 10px;
}

header a {
	color: #111111;
	background: #f6f6f6;
}
h1 {
	font-family: 'Poiret One', cursive;
	font-size: 38px;
	text-align: left;
	float: left;
}

nav {
	float: right;
	margin: 40px 20px;
	font-size: 20px;
}

nav a {
	padding: 10px 20px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	background: #848484;
	border-radius: 20px;

}

nav a:hover {
	background: #000000;
	
}

span {
	display: block;
	float: left;
}

#images li {
	
	display: inline-block;
	float: left;
	width: 500px;
	padding: 0 15px;
	margin: 0;

	}

}

.article img {
	display: block;
	width: 420px;

}

p {
	float: left;
	display: block;
}
article {
	background-color: #cccccc;
	color: #323232;
	width: 460px;
	
	float: left;
	padding: 20px;
	margin: 20px 0 20px 30px; 
}

article h3 {
 	padding: 15px;
 	margin: 10px 0;
 	text-align: left;
}

}

article a {
	text-decoration: underline;
	color: #ffffff;
}

article img {
	width: 240px;
	padding: 10px;
}



span { 
	padding: 15px;
	margin: 25px 0;

}

aside {
	display: block;
	float: left;
	background: #dddddd;
	color: #000000;
	width: 260px;;
	position: relative;

	margin: 0 70px;
	}

aside li {
	list-style-type: none;
}

aside h3 {
	margin-left: 20px;
}

footer {
	clear: both;
	text-align: center;
	padding: 30px;
	background-color: #cccccc;
}

footer a {
	text-decoration: none;
	padding: 15px;
	color: #161616;
	
}


